<h1>Meet the Developer</h1>
<div class="developer">
    <div class="container">
        <hr>
        <div class="dev-profile">
            <div class="dev-desc">

                <p>InstManager was developed by <strong>Thiago Loschi</strong>, a passionate Software Engineer from Brazil.</p>
                <p><strong>See more at: </strong><a target="_blank" href="http://thiagoloschi.com">www.thiagoloschi.com</a>.</p>
                <p>Check out InstManager<strong> source code </strong>on <a target="_blank" href="https://github.com/thiagoloschi/InstManager">GitHub.</a></p>
            </div>
            <div class="dev-photo">
                <img class="dev-img img-circle" src="/img/profiile.jpg"></a>
            </div>
        </div>

        <hr><br>
        <br>

        <div class="row">
          <div id="emailTel" class="col-md-4">
              <p>© Thiago Loschi</p>
          </div>
      		<div id="icons" class="col-md-4">
        			<ul>
        				<li><a target="_blank" href="https://plus.google.com/+thiagoloschi"><i class="fa fa-google-plus"></i></a></li>
                <li><a target="_blank" href="https://www.linkedin.com/in/thiagoloschi"><i class="fa fa-linkedin"></i></a></li>
        				<li><a target="_blank" href="https://github.com/thiagoloschi"><i class="fa fa-github"></i></a></li>
                <li><a href="https://www.instagram.com/thiagoloschi_" target="_blank"><i class="fa fa-instagram"></i></a></li>
                <li><a href="https://www.facebook.com/thiagoloschi" target="_blank"><i class="fa fa-facebook"></i></a></li>
        			</ul>
        	</div>
          <div id="registrada" class="col-md-4">
            <p>thiagoloschi@gmail.com</p>
          </div>
        </div>

        <br><br>
        <br>

    <a class="pull-left" href="/">Go back</a>
    </div>

    <br>
</div>
