<div class="login">


	<center>
		<div style="margin-bottom: 40px;">
			<a href="/login">Login with Instagram</a>
		</div>


		<div class="row" style="padding: 0 60px;">

			<div class="col-md-4" style="-webkit-transform: rotate(-7deg); transform: rotate(-7deg);">
				<img class="thumbnail port image-responsive" src="img/relationships.png">
			</div>

			<div class="col-md-4">
				<img class="thumbnail port" src="img/main.png">
			</div>

			<div class="col-md-4" style="-webkit-transform: rotate(7deg); transform: rotate(7deg);">
				<img class="thumbnail port" src="img/stats.png">
			</div>
		</div>

	</center>

</div>
