<div class="container main">

	<div class="nav">
		<div class="navbar-header col-md-5 col-sm-12">
		  <span id="fst" class="navbar-brand">Hi <strong>{{user.username}}</strong>, what would you like to do?</span>
		</div>
		<div id="navbar" class="col-md-7 col-sm-12">
		  <ul class="nav navbar-nav">
			<li class="active"><a href="#!/main">See My Profile</a></li>
			<li><a href="#!/relationships">Manage My Relationships</a></li>
			<li><a href="#!/stats">See My Statistics</a></li>
			<li><a href="/end">Logout</a></li>
		  </ul>
		</div>
	</div>

	<hr>

	<br>

	<div class="profile" ng-init="getUser()">
		<div class="row">
			<div class="username">
				<img class="img-circle" src="{{user.profile_picture}}">
				<div class="username">
					<h3>{{user.full_name}}</h3>
				</div>
			</div>
			<div class="bio " ng-bind="user.bio">
				"{{user.bio}}"
			</div>
		</div>
		<br>
		<hr>
		<div class="row">
			<div class="col-xs-4">
				<h3><strong>{{user.counts.followed_by}}</strong></h3>
				Followers
			</div>
			<div class="col-xs-4">
				<h3><strong>{{user.counts.follows}}</strong></h3>
				Following
			</div>
			<div class="col-xs-4">
				<h3><strong>{{user.counts.media}}</strong></h3>
				Medias
			</div>
		</div>

	</div>
	<hr>

	<br><br>


	<div class="row medias-wrapper" ng-init="getMedias()">
		<div class="medias">
			<div ng-repeat="media in medias">
				<div class="pictures col-md-3 col-sm-4 col-xs-6 col-lg-2">
					<a class="front thumbnail" ng-click="openphoto()">
						<h1><strong>{{media.likes.count}}</strong> <i class="fa fa-heart" aria-hidden="true"></i></h1>
					</a>
					<div class="photo thumbnail" >
						<img class="photos" src="{{media.images.thumbnail.url}}" title="{{media.caption.text}}" alt="{{media.caption.text}}"/ >
					</div>
				</div>
			</div>

		</div>
	</div>

</div>

<footer class="footer">
	<div class="container">
		<div class="row footer-wrapper">
			<div class="col-md-4">
				<a href="#!/terms">Terms of Use</a>
			</div>
			<div class="col-md-4">
				<a href="#!/privacy">Privacy Policy</a>

			</div>
			<div class="col-md-4">
				<a href="#!/developer">Meet the developer</a>
			</div>
		</div>
	</div>
</footer>
