<h1>Privacy Policy</h1>
<div class="terms">
<div class="container">

<br><br>
<h3>Our Policies</h3>
    <p>InstManager is an Instagram client created with the unique purpose of entertaining Instagram users by providing cool insights and usage statistics from their Instagram accounts. By logging in with your Instagram account, you are sharing with us some of your account information, such as your basic profile info, like username and medias posted, the list of friends you follow, and the list of friends that are followed by you, and you also grant us permission to follow and unfollow users in your behalf, which allow us to offer you the possibility to follow and unfollow users through our app. InstManager utilizes these information to collect cool statistics and insights that aren’t currently being shown by Instagram, like the list of users who doesn't follow you back or your top 10 most used tags. We hope you enjoy InstManager and the new features that are being developed.</p>
    <br>
    <h3>Your Privacy</h3>
    <p>When you access InstManager, we store in our servers an access token which work as a key for your Instagram Account, but don't worry, we delete this token every time you log out. We do that to provide you the best usage experience that we can. We do our best to secure your data while you are using our services, that's why we will not share your data with anyone, under any circumstances. Your information is encrypted and secure with us. All the data displayed on this website was provided by Instagram through the Instagram API and was extracted from your Instagram account. You will only have access to your user information, so you should not be seeing anything new. That is why we are not responsible for any content that may be upsetting to you. By using our services, you agree with our <a href="#!/privacy">Privacy Policies</a> and our <a href="#!/terms">Terms of Use</a>.</p>
    <br>
    <a href="/">Go back</a>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
</div>

<footer class="footer footer-abs">
	<div class="container">
		<div class="row footer-wrapper">
			<div class="col-md-4">
				<a href="#!/terms">Terms of Use</a>
			</div>
			<div class="col-md-4">
				<a href="#!/privacy">Privacy Policy</a>

			</div>
			<div class="col-md-4">
				<a href="#!/developer">Meet the developer</a>
			</div>
		</div>
	</div>
</footer>

</div>
