<div class="container main" ng-init="getUser()">

	<div class="nav">
		<div class="navbar-header">
		  <span id="fst" class="navbar-brand">Hi <strong>{{user.username}}</strong>, what would you like to do?</span>
		</div>
		<div id="navbar" class="navbar-collapse collapse">
		  <ul class="nav navbar-nav">
            <li><a href="#!/main">See My Profile</a></li>
			<li><a href="#!/stats">See My Statistics</a></li>
			<li><a href="/">Logout</a></li>
		  </ul>
		</div>
	</div>

	<hr>

	<br><br>

	<div class="row">
		<div class="card col-md-3 col-sm-6">
		    <div class="card-header">
		        <h4>
					<strong>{{user.counts.followed_by}}</strong>
					Followers
		        </h4>
		    </div>
		    <div ng-init="getFollowers()" class="card-body">
	            <ul class="list-group list-group-lg">
	                <li class="list-group-item" ng-repeat="follower in followers">

						<div class="card-line row">
							<div class="col-sm-12">
								<div class="media">
								  <div class="media-left">
								      <img src="{{follower.profile_picture}}" class="media-object thumb-sm br-radius">
								  </div>
								  <div class="media-body">
								    <a href="">{{follower.username}}</a>
								  </div>
								</div>
							</div>
						</div>
					</li>
	            </ul>
		    </div>
		</div>





		<div class="col-md-3 col-sm-6">
			<div class="card-header">
				<h4>
					<strong>{{user.counts.follows}}</strong>
					Followings
				</h4>
			</div>
			<div ng-init="getFollowings()" class="card-body">
				<ul class="list-group list-group-lg">
					<li class="list-group-item" ng-repeat="following in followings">
						<div class="card-line row">
							<div class="col-sm-12">
								<div class="media">
								  <div class="media-left">
									  <img src="{{following.profile_picture}}" class="media-object thumb-sm br-radius">
								  </div>
								  <div class="media-body">
									<a href="">{{following.username}}</a>
								  </div>
								</div>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>

		<div class="col-md-3 col-sm-6">
			<div class="card-header">
				<h4>
					<strong>{{notFollowings.length}}</strong>
				 		You Don't Follow Back
				</h4>
			</div>
			<div ng-init="getNotFollowings()" class="card-body">
				<ul class="list-group list-group-lg">
					<li class="list-group-item" ng-repeat="follow in notFollowings">
						<div class="card-line row">
							<div class="col-sm-9">
								<div class="media">
								  <div class="media-left">
									  <img src="{{follow.profile_picture}}" class="media-object thumb-sm br-radius">
								  </div>
								  <div class="media-body">
									<a href="">{{follow.username}}</a>
								  </div>
								</div>
							</div>
							<div class="acting col-sm-3">
								<a data-toggle="modal" data-target="#myModal" role="button" class="follow-button follow-green pull-right">Follow</a>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>

		<!-- Modal -->
	     <div class="modal fade" id="myModal" role="dialog">
	       <div class="modal-dialog">

	         <!-- Modal content-->
	         <div class="modal-content">
	           <div class="modal-header">
	             <button type="button" class="close" data-dismiss="modal">&times;</button>
	             <h4 class="modal-title">Confirm action</h4>
	           </div>
	           <div class="modal-body">
	             <p>Are you sure?</p>
	           </div>

	           <div class="modal-footer">
	             <button type="button" class="btn btn-success" data-dismiss="modal">Yes</button>
	             <button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
	           </div>
	         </div>

	       </div>
	     </div>


		<div class="col-md-3 col-sm-6">
			<div class="card-header">
				<h4>
					<strong>{{notFollowers.length}}</strong>
						Don't Follow You Back
				</h4>
			</div>
			<div ng-init="getNotFollowers()" class="card-body">
				<ul class="list-group list-group-lg">
					<li class="list-group-item" ng-repeat="foll in notFollowers">
						<div class="card-line row">
							<div class="col-sm-9">
								<div class="media">
								  <div class="media-left">
									  <img src="{{foll.profile_picture}}" class="media-object thumb-sm br-radius">
								  </div>
								  <div class="media-body">
									<a href="">{{foll.username}}</a>
								  </div>
								</div>
							</div>
							<div class="acting col-sm-3">
								<a data-toggle="modal" data-target="#myModal" role="button" class="follow-button follow-red pull-right">Unfollow</a>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>

		</div>
</div>
