<div class="container main" ng-init="getUser(); getRelated();">

	<div class="nav">
		<div class="navbar-header col-md-5 col-sm-12">
		  <span id="fst" class="navbar-brand">Hi <strong>{{user.username}}</strong>, what would you like to do?</span>
		</div>
		<div id="navbar" class="col-md-7 col-sm-12">
		  <ul class="nav navbar-nav">
			<li><a href="#!/main">See My Profile</a></li>
			<li class='active'><a href="#!/relationships">Manage My Relationships</a></li>
			<li><a href="#!/stats">See My Statistics</a></li>
			<li><a href="/end">Logout</a></li>
		  </ul>
		</div>
	</div>

	<hr>

	<br><br>

	<div class="row cell">
		<div class="col-md-3 col-sm-6">
		    <div class="card-header">
		        <h4>
					<strong>{{user.counts.followed_by}}</strong>
					Followers
		        </h4>
		    </div>
		    <div class="card-body">
				<li class="list-group-item searchwrapper"><input class="searchline" placeholder="&#xF002  Search" style="font-family:Raleway, FontAwesome"  type="text" ng-model="findfollower"/></li>
				<ul class="list-group list-group-lg card-ul">
	                <li class="list-group-item" ng-repeat="person in followers | filter: {username : findfollower}">

						<div class="card-line row">
							<div class="col-sm-12">
								<div class="media">
								  <div class="media-left">
								      <img src="{{person.profile_picture}}" class="media-object thumb-sm br-radius">
								  </div>
								  <div class="media-body">
								    <a href="http://instagram.com/{{person.username}}" target="_blank">{{person.username}}</a>
								  </div>
								</div>
							</div>
						</div>
					</li>
	            </ul>
		    </div>
		</div>





		<div class="col-md-3 col-sm-6">
			<div class="card-header">
				<h4>
					<strong>{{user.counts.follows}}</strong>
					Following
				</h4>
			</div>
			<div class="card-body">
					<li class="list-group-item searchwrapper"><input class="searchline" placeholder="&#xF002  Search" style="font-family:Raleway, FontAwesome"  type="text" ng-model="findfollowing"/></li>
					<ul class="list-group list-group-lg card-ul">
					<li class="list-group-item" ng-repeat="person in followings | filter: {username : findfollowing}">
						<div class="media row">
							<div class="media-left with_button">
								<img src="{{person.profile_picture}}" class="media-object thumb-sm br-radius">
							</div>
							<div class="media-body">
								<div class="pull-left">
									<a href="http://instagram.com/{{person.username}}" target="_blank">{{person.username}}</a>
								</div>
								<div class="pull-right">
									<a id="{{person.id}}" ng-click="unfollow()" role="button"  class="follow-button follow-red" name="unfollow">Unfollow</a>
								</div>

							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>

		<!--<div class="col-sm-2">
			<div class="media">
			  <div class="media-left">

			  </div>
			  <div class="media-body">
				<a href="http://instagram.com/{{person.username}}" target="_blank">{{person.username}}</a>
			  </div>
			</div>
		</div>
		<div class="acting col-sm-2">
			<a id="{{person.id}}" ng-click="unfollow()" role="button"  class="follow-button follow-red pull-right" name="unfollow">Unfollow</a>
		</div>-->

		<div class="col-md-3 col-sm-6">
			<div class="card-header">
				<h4>
					<strong>{{notFollowings.length}}</strong>
				 		You Don't Follow Back
				</h4>
			</div>
			<div class="card-body">
				<li class="list-group-item searchwrapper"><input class="searchline" placeholder="&#xF002  Search" style="font-family:Raleway, FontAwesome"  type="text" ng-model="findnotfollowing"/></li>
				<ul class="list-group list-group-lg card-ul">
					<li class="list-group-item" ng-repeat="person in notFollowings | filter: {username : findnotfollowing}">
						<div class="media row">
							<div class="media-left with_button">
								<img src="{{person.profile_picture}}" class="media-object thumb-sm br-radius">
							</div>
							<div class="media-body">
								<div class="pull-left">
									<a href="http://instagram.com/{{person.username}}" target="_blank">{{person.username}}</a>
								</div>
								<div class="pull-right">
									<a id="{{person.id}}" ng-click="follow()" role="button"  class="follow-button follow-green" name="follow">Follow</a>
								</div>

							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>


		<div class="col-md-3 col-sm-6">
			<div class="card-header">
				<h4>
					<strong>{{notFollowers.length}}</strong>
						Don't Follow You Back
				</h4>
			</div>
			<div class="card-body">
				<li class="list-group-item searchwrapper"><input class="searchline" placeholder="&#xF002  Search" style="font-family:Raleway, FontAwesome"  type="text" ng-model="findnotfollower"/></li>
				<ul class="list-group list-group-lg card-ul">
					<li class="list-group-item" ng-repeat="person in notFollowers | filter: {username : findnotfollowers}">
						<div class="media row">
							<div class="media-left with_button">
								<img src="{{person.profile_picture}}" class="media-object thumb-sm br-radius">
							</div>
							<div class="media-body">
								<div class="pull-left">
									<a href="http://instagram.com/{{person.username}}" target="_blank">{{person.username}}</a>
								</div>
								<div class="pull-right">
									<a id="{{person.id}}" ng-click="unfollow()" role="button"  class="follow-button follow-red" name="unfollow">Unfollow</a>
								</div>

							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>

		</div>

		<!-- Modal -->
		 <div class="modal fade" id="myModal" role="dialog">
		   <div class="modal-dialog">

			 <!-- Modal content-->
			 <div class="modal-content">
			   <div class="modal-header">
				 <button type="button" class="close" data-dismiss="modal">&times;</button>
				 <h4 class="modal-title">Confirm action</h4>
			   </div>
			   <div class="modal-body">
				   <p>Are you sure?</p>
				   <div name="userId" id="userId"></div>
			   </div>

			   <div class="modal-footer">
				 <a href="/changeRel/"></a>
				 <button type="button" class="btn btn-success" data-dismiss="modal">Yes</button>
				 <button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
			   </div>
			 </div>

		   </div>
		 </div>
		 <div class="clearfix">

		 </div>
		 <br>
		 <br>
		 <h5>Changes may take some time to take effect. Users with private profile need to accept your follow requests.</h5>


		 <br><br><br><br><br>
</div>
<footer class="footer">
	<div class="container">
		<div class="row footer-wrapper">
			<div class="col-md-4">
				<a href="#!/terms">Terms of Use</a>
			</div>
			<div class="col-md-4">
				<a href="#!/privacy">Privacy Policy</a>

			</div>
			<div class="col-md-4">
				<a href="#!/developer">Meet the developer</a>
			</div>
		</div>
	</div>
</footer>
