<div class="container main" ng-init="getUser(); getRelated();">

	<div class="nav">
		<div class="navbar-header col-md-5 col-sm-12">
		  <span id="fst" class="navbar-brand">Hi <strong>{{user.username}}</strong>, what would you like to do?</span>
		</div>
		<div id="navbar" class="navbar col-md-7 col-sm-12">
		  <ul class="nav navbar-nav">
			<li><a href="#!/main">See My Profile</a></li>
			<li class='active'><a href="#!/relationships">Manage My Relationships</a></li>
			<li><a href="#!/stats">See My Statistics</a></li>
			<li><a href="/end">Logout</a></li>
		  </ul>
		</div>
	</div>

	<hr>

	<br><br>

	<div class="row">
		<div class="col-md-3 col-sm-6">
		    <div class="card-header">
		        <h4>
					<strong>{{user.counts.followed_by}}</strong>
					Followers
		        </h4>
		    </div>
		    <div class="card-body">
	            <ul class="list-group list-group-lg">
	                <li class="list-group-item" ng-repeat="person in followers">

						<div class="card-line row">
							<div class="col-sm-12">
								<div class="media">
								  <div class="media-left">
								      <img src="{{person.profile_picture}}" class="media-object thumb-sm br-radius">
								  </div>
								  <div class="media-body">
								    <a href="">{{person.username}}</a>
								  </div>
								</div>
							</div>
						</div>
					</li>
	            </ul>
		    </div>
		</div>





		<div class="col-md-3 col-sm-6">
			<div class="card-header">
				<h4>
					<strong>{{user.counts.follows}}</strong>
					Followings
				</h4>
			</div>
			<div class="card-body">
				<ul class="list-group list-group-lg">
					<li class="list-group-item" ng-repeat="person in followings">
						<div class="card-line row">
							<div class="col-sm-9">
								<div class="media">
								  <div class="media-left">
									  <img src="{{person.profile_picture}}" class="media-object thumb-sm br-radius">
								  </div>
								  <div class="media-body">
									<a href="">{{person.username}}</a>
								  </div>
								</div>
							</div>
							<div class="acting col-sm-3">
								<a id="{{person.id}}" data-target="" ng-click="unfollow()" role="button"  class="follow-button follow-red pull-right" name="unfollow">Unfollow</a>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>

		<div class="col-md-3 col-sm-6">
			<div class="card-header">
				<h4>
					<strong>{{notFollowings.length}}</strong>
				 		You Don't Follow Back
				</h4>
			</div>
			<div class="card-body">
				<ul class="list-group list-group-lg">
					<li class="list-group-item" ng-repeat="person in notFollowings">
						<div class="card-line row">
							<div class="col-sm-9">
								<div class="media">
								  <div class="media-left">
									  <img src="{{person.profile_picture}}" class="media-object thumb-sm br-radius">
								  </div>
								  <div class="media-body">
									<a href="http://instagram.com/{{person.username}}" target="_blank">{{person.username}}</a>
								  </div>
								</div>
							</div>
							<div class="acting col-sm-3">
								<a id="{{person.id}}" ng-click="follow()" role="button" class="follow-button follow-green pull-right" name="follow" value="">Follow</a>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>


		<div class="col-md-3 col-sm-6">
			<div class="card-header">
				<h4>
					<strong>{{notFollowers.length}}</strong>
						Don't Follow You Back
				</h4>
			</div>
			<div class="card-body">
				<ul class="list-group list-group-lg">
					<li class="list-group-item" ng-repeat="person in notFollowers">
						<div class="card-line row">
							<div class="col-sm-9">
								<div class="media">
								  <div class="media-left">
									  <img src="{{person.profile_picture}}" class="media-object thumb-sm br-radius">
								  </div>
								  <div class="media-body">
									<a href="">{{person.username}}</a>
								  </div>
								</div>
							</div>
							<div class="acting col-sm-3">
								<a id="{{person.id}}" data-target="" ng-click="unfollow()" role="button"  class="follow-button follow-red pull-right" name="unfollow">Unfollow</a>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>

		</div>

		<!-- Modal -->
		 <div class="modal fade" id="myModal" role="dialog">
		   <div class="modal-dialog">

			 <!-- Modal content-->
			 <div class="modal-content">
			   <div class="modal-header">
				 <button type="button" class="close" data-dismiss="modal">&times;</button>
				 <h4 class="modal-title">Confirm action</h4>
			   </div>
			   <div class="modal-body">
				   <p>Are you sure?</p>
				   <div name="userId" id="userId"></div>
			   </div>

			   <div class="modal-footer">
				 <a href="/changeRel/"></a>
				 <button type="button" class="btn btn-success" data-dismiss="modal">Yes</button>
				 <button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
			   </div>
			 </div>

		   </div>
		 </div>
		 <h5>Changes may take some time to take effect. Users with private profile need to accept your follow requests.</h5>

		<script type="text/javascript">

		</script>
</div>
