<div class="container main" ng-init="getUser()">

	<div class="nav">
		<div class="navbar-header">
		  <span id="fst" class="navbar-brand">Hi <strong>{{user.username}}</strong>, what would you like to do?</span>
		</div>
		<div id="navbar" class="navbar-collapse collapse">
		  <ul class="nav navbar-nav">
            <li><a href="#!/main">See My Profile</a></li>
			<li><a href="#!/relationships">Manage My Relationships</a></li>
			<li><a href="/">Logout</a></li>
		  </ul>
		</div>
	</div>

	<hr>

	<br><br>

	<div class="row">
		<div class="card col-md-4"></div>
		<div class="card col-md-4 col-sm-6">
			<div class="card-header">
				<h4>
					Top<strong> 10 </strong>
					Most Used Tags
				</h4>
			</div>
			<div ng-init="getTags()" class="card-body">
				<ul class="list-group list-group-lg">
					<li class="list-group-item" ng-repeat="tag in tags">

						<div class="card-line row">
							<div class="col-sm-6">
								#{{tag.name}}
							</div>
							<div class="col-sm-6">
								<strong>{{tag.freq}}</strong>x
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>
		<div class="card col-md-4"></div>
	</div>
</div>
