<div class="container main" ng-init="getUser()">

	<div class="nav">
		<div class="navbar-header col-md-5 col-sm-12">
		  <span id="fst" class="navbar-brand">Hi <strong>{{user.username}}</strong>, what would you like to do?</span>
		</div>
		<div id="navbar" class="navbar col-md-7 col-sm-12">
		  <ul class="nav navbar-nav">
			<li><a href="#!/main">See My Profile</a></li>
			<li><a href="#!/relationships">Manage My Relationships</a></li>
			<li class='active'><a href="#!/stats">See My Statistics</a></li>
			<li><a href="/end">Logout</a></li>
		  </ul>
		</div>
	</div>

	<hr>

	<div class="row">
		<div class="card col-md-4">
			<div class="card-header">
				<h4>
					Top<strong> 10 </strong>
					Most Tagged Friends
				</h4>
			</div>
			<div ng-init="getStats()" class="card-body">
				<ul class="list-group list-group-lg">
					<li class="list-group-item" ng-repeat="tagged in taggedUsers">

						<div class="card-line row">
							<div class="col-sm-9">
								<a href="#">{{tagged.username}}</a>
							</div>
							<div class="col-sm-3">
								<strong>{{tagged.freq}}</strong>x
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>

		<div class="card col-md-4 col-sm-12">
			<div class="card-header">
				<h4>
					Top<strong> 10 </strong>
					Most Used Tags
				</h4>
			</div>
			<div ng-init="getTags()" class="card-body">
				<ul class="list-group list-group-lg">
					<li class="list-group-item" ng-repeat="tag in tags">

						<div class="card-line row">
							<div class="col-sm-9">
								<a href="#">#{{tag.name}}</a>
							</div>
							<div class="col-sm-3">
								<strong>{{tag.freq}}</strong>x
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>

		<div class="card col-md-4 col-sm-12">
			<div class="card-header">
				<h4>
					Top<strong> 10 </strong>
					Last Visited Places
				</h4>
			</div>
			<div class="card-body">
				<ul class="list-group list-group-lg">
					<li class="list-group-item" ng-repeat="place in places">

						<div class="card-line row">
							<div class="col-sm-9">
								<a href="#">{{place.name}}</a>
							</div>
							<div class="col-sm-3">
								<strong>{{place.freq}}</strong>x
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
