<h1>Terms of Use</h1>
<div class="terms">
    <br><br>
    <div class="container">

        <h3>Introduction</h3>
        <p>Thanks for choosing InstManager. By using InstManager you are automatically agreeing with the terms in this document. InstManager utilizes the Instagram API and therefore, InstManager users must also agree with the Instagram policies.
        </p>
        <br>
        <h3>Terms</h3>
        <p>1. You must be in compliance with all the Instagram Policies described in this document: <a target="_blank" href="https://help.instagram.com/478745558852511">Instagram's terms of use</a>.</p>
        <p>2. All the information in this website can only be used to entertain the owner of the account. No different use is allowed.</p>
        <p>3. You must be the owner of the Instagram Account entered in this website.</p>
        <p>4. You must read, at least once, our <a href="#!/privacy">Privacy Policy</a>.</p>
        <p>5. You are aware that InstManager only uses Instagram data provided through the Instagram API, and therefore, produces no independent content, other than the ones extracted from the data provided by Instagram.</p>
        <p>6. InstManager is not responsible for any information entered or displayed in this website.</p>
        <p>7. You declare that you have read and agreed with every term in the InstManager's <a href="#!/privacy">Privacy Policy</a> and <a href="#!/terms">Terms of Use</a>.</p>
        <br>
        <a href="/">Go back</a>
        <br>
        <br>
        <br>
        <br>
    </div>

    <footer class="footer footer-abs">
    	<div class="container">
    		<div class="row footer-wrapper">
    			<div class="col-md-4">
    				<a href="#!/terms">Terms of Use</a>
    			</div>
    			<div class="col-md-4">
    				<a href="#!/privacy">Privacy Policy</a>

    			</div>
    			<div class="col-md-4">
    				<a href="#!/developer">Meet the developer</a>
    			</div>
    		</div>
    	</div>
    </footer>


</div>
