*{
	padding: 0;
	margin: 0;
}

.container-fluid{
	padding: 0px;
}

/* Tags */

body{
	height: 100%;
	width: 100%;
}

pre{
	background-color: transparent;
	border: none;
	border-radius: none;
	margin: 0;
}

.footer{
	position: static;
	bottom: 0;
	width: 100%;
	line-height: 40px;
	text-align: center;
	padding: 15px 0;
	border-top: 1px solid #ccc;
}

.footer-abs{
	position: relative;
}

.footer-wrapper{
	width: 60%;
	margin: auto;
}

.footer-login, .footer-login a{
	color: white;
	border: none;
	font-size: 14px;
	letter-spacing: 1px;
	background-color: transparent;
	padding-top: 20px;
}

a:hover{
	text-decoration: none;
	role: none;
}

/* Login */

.login{
	margin:  -20px 0 0 0;
	padding: 50px 0 55px 0;
	height: 100%;
	width: 100%;
	font-size: 16px;
}

.lgnbutton{
	margin-bottom: 40px;
	border: solid 1px white;
	width: 200px;
	padding: 14px 18px;
	color: linear-gradient(to right, rgba(153,47,255,1) 0%, rgba(240, 84, 79,1) 100%);
	background-color: rgba(255,255,255,1);
	border-radius: 0.25rem;
	font-weight: bold;
	box-shadow: 12px 15px 20px 0px rgba(46, 61, 73, 0.15);
}

.lgnbutton:hover{
	text-decoration: none;
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(240, 84, 79,1)), color-stop(100%, rgba(39,139,255,1)));
	background: -webkit-linear-gradient(left, rgba(153,47,255,1) 0%, rgba(240, 84, 79,1) 100%);
	background: linear-gradient(to right, rgba(153,47,255,1) 0%, rgba(240, 84, 79,1) 100%);
	color: white;
}

.port{
	height: 100%;
	width: 100%;
	box-shadow: 12px 15px 20px 0px rgba(46, 61, 73, 0.15);
}

.showcase{
	margin: auto;
	width: 92%;
}

.modal{
	margin: auto;
	text-align: center;
}

.modal-dialog{
	width: 100%;
	max-width: 1000px;
	margin: auto;
	text-align: center;
	color: black;
}

.modal-header{
	border: none;
}

.close{
	color: white;
	font-size: 60px;
	opacity: 1;
}

.close:hover{
	color: #777;
	font-size: 60px;
	opacity: 1;
}

.modal-footer{
	text-align: center;
}

.description{
	margin-bottom: 7%;
	padding: 5% 5% 0 5%;
	font-size: 18px;
	letter-spacing: 1px;
}

/* Header */

.main{
	height: 100%;
}

.nav{
	text-align: center;

}

.navbar{
	padding: 0;
	border-radius: 0;
}

.navbar-header{
	padding: 0;
}

.navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
	background: transparent;
	font-weight: bold;
	transition: all 1s ease;
	color: #337ab7;
}

#fst{
	font-size: 20px;
}

.active{
	font-weight: bold;
	text-shadow: 1px 0px 1px;
}

.header{
	background: rgb(153,47,255) fixed;
	background: rgba(153,47,255,1) fixed;
    /*background: -moz-linear-gradient(left, rgba(153,47,255,1) 0%, rgba(39,139,255,1) 100%);
	background: -o-linear-gradient(left, rgba(153,47,255,1) 0%, rgba(39,139,255,1) 100%);
    background: -ms-linear-gradient(left, rgba(153,47,255,1) 0%, rgba(39,139,255,1) 100%);*/
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(240, 84, 79,1)), color-stop(100%, rgba(39,139,255,1)));
    background: -webkit-linear-gradient(left, rgba(240, 84, 79,1) 0%, rgba(153,47,255,1) 100%);
    background: linear-gradient(to right, rgba(240, 84, 79,1) 0%, rgba(153,47,255,1) 100%);
	color: white;
}

.logo{
	text-align: center;
	padding: 30px;
	font-family: 'Amatic SC', cursive;
	font-size: 100px;
	letter-spacing: 12px;
	margin: auto;
	text-align: center;
	padding: 0;
	margin: 0;
}

/* Main page */

.main{
	text-align: center;
	margin: auto;
	font-family: 'Raleway', sans-serif;
}

.username{
	text-align: center;
}

.profile{
	margin: auto;
	text-align: center;
}

.img-circle{
	-webkit-box-shadow: inset 13px 2px 3px 0px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    inset 13px 2px 3px 0px rgba(50, 50, 50, 0.75);
	box-shadow: 12px 15px 20px 0px rgba(46, 61, 73, 0.15);
}


.front {
	position:absolute;
	width: 149px;
	height: 180px;
	color: transparent;
	background-color: transparent;
	text-align: center;
	vertical-align: middle;
	padding-top: 53px;
}

.front:hover{
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(240, 84, 79,1)), color-stop(100%, rgba(39,139,255,1)));
	background: -webkit-linear-gradient(left, rgba(153,47,255,1) 0%, rgba(240, 84, 79,1) 100%);
	background: linear-gradient(to right, rgba(153,47,255,0.4) 0%, rgba(240, 84, 79,1) 100%);
	color: white;
	text-shadow: 2px 2px 4px #333;
	transition: all 1s ease;
}


.pictures{
	margin-bottom: 30px;
}

.photo{
	padding: 15px 0;
	width: 149px;
	box-shadow: 12px 15px 20px 0px rgba(46, 61, 73, 0.15);
}

/* RELATIONSHIPS */

.thumb-sm {
    height: 50px;
    width: 50px;
}
.thumb-sm img {
    height: auto;
    max-width: 100%;
    vertical-align: middle;
}

.media-body{
	vertical-align: middle;
}

.media-left{
	padding-left: 10px;
}

.pull-right{
	padding-right: 10px;
}

.follow-button{
	font-size: 10px;
	font-weight: bold;
	border-radius: 0.25rem;
	line-height: 1;
}

.follow-button:hover{
	text-decoration: none;
	/*color: #1F2D3D;
	background-color: #FFBC42;
*/
}

.follow-green{
	color: white;
	border-color: #49DCB1;
	background-color: #25C47C;
	padding: 4px 12px;
}

.follow-green:hover{
	background-color: #27DD76;
	color: white;
}

.follow-red{
	color: white;
	border-color: #D10437;
	background-color: #D8315B;
	padding: 4px 6px;
}

.follow-red:hover{
	background-color: #FF3F6F;
	color: white;
}

.searchline{
	width: 100%;
	border: none;
	font-size: 15px;
	padding: 0 3px;
}

.searchline:focus{
	border: none;
	outline: none;
}

.searchwrapper{
	margin-top: 30px;
	border-bottom: 2px solid #ddd;
}

/* Stats */

.card{
	border-radius: 125rem;
}

.card-body{
	box-shadow: 12px 15px 20px 0px rgba(46, 61, 73, 0.15);
	border-radius: 4px;
}

.card-ul{
	max-height: 213px;
	overflow-y: auto;
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
}

.list-group-item:first-child{
	border-top-right-radius: 0;
	border-top-left-radius: 0;
}

.sweet-alert{
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	left: 0%;
	right: 0%;
	height: 100%;
	overflow-y: auto;
	padding: 0 0 20px 0;
	margin: auto;
	text-align: center;
	width: 45%;
}

.dev-img{
	height: 150px;
	width: 150px;
}

.dev-profile{
	width: 70%;
	margin: auto;
}

.dev-desc{
	margin: 20px;
	float: left;
}

#icons ul li{
	display: inline-block;
	margin: -1% 2% 1% 2%;
}

#icons ul li i{
	padding-top: 5px;
	font-size: 26px;
	color: #337ab7;
}

#icons ul li i:hover{
	color: black;
}

#icons ul{
	padding: 0;
	margin: 0;
}

.terms{
	text-align: justify;
}

.bigphoto{
	margin: auto;
	text-align: center;
	padding: 0;
	margin: 0;
	width: 100%;
}

.sweet-alert p{
	padding: 0 15px;
}

.sweet-alert h2{
	margin: 0;
}

.sweet-alert h6{
	margin: 0;
}

.confirm{
	background: linear-gradient(to right, rgba(153,47,255,1) 0%, rgba(240, 84, 79,1) 100%);

}

@media (max-width: 560px){
	.description{
		margin-bottom: 22%;
	}

	.logo{
		font-size: 70px;
		letter-spacing: 6px;
	}

	#fst{
		margin-bottom: 20px;
	}

	#navbar ul li{
		text-align: center;
		margin: auto;
		width: 200px;
	}

	.pull-left{
		width: 69%;
	}

	.cell{
		padding: 20px;
	}

	.sweet-alert{
		width: 100%;
	}

}

@media (max-width: 800px, min-width: 600px;){
	.medias{
		width: 100%;
	}

	.cell{
		padding: 40px;
	}

	.pull-left{
		width: 80%;
	}

	.photo{
		margin: auto;
	}

	.front{
		margin-left: 31px;
	}
}

@media (max-width: 350px){
	.logo{
		font-size: 60px;
		letter-spacing: 4px;
	}

	.pull-left{
		width: 60%;
	}

	.cell{
		padding: 10px;
	}

}
